#descripcion {

    text-align: justify;

}

#imagen {

    margin-top: 3rem;

    text-align: center;


}

#puntuacionSeccion {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    margin-bottom: 1rem;
}

#puntuacionSeccion ul {
    padding: 0;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

#puntuacionSeccion li {
    float: left;

    height: 40px;
    width: 40px;

    border-radius: 50%;
    background-color: rgb(73, 73, 73);

    color: white;

    text-align: center;

    margin-right: 5px;
    margin-bottom: 5px;

    line-height: 30px;

    list-style: none;

    padding: 5px;

    cursor: pointer;

    transition: all 0.2s linear;
}

#puntuacionSeccion li:hover {
    background-color: rgb(109, 109, 109);
    box-shadow: 1px 1px 1.5px 1.5px #9b9b9bba;

}

#puntuacionSeccion input {

    width: 150px;

}

#recomendaciones {
    margin-bottom: 3rem;
}

#recomendaciones img {

    height: 330px;

}

#recomendaciones a {

    color: white;

    text-transform: uppercase;

}

#recomendaciones p {

    padding: 10px;

    background-color: #515151;

    border-radius: 3px;

}

#imagen img {

    width: 250px;


}

#generos {

    text-align: end;

    color: gray;

    font-style: italic;

}

#comentarioCard {

    width: 100%;
    padding: 10px;

}

#comentarioHeader p {

    border-bottom: 1px solid rgb(0, 143, 143);

}

#comentarioBody {

    text-align: justify;

}

#addComentarioSeccion {

    margin: 1rem 0;

}

#addComentarioSeccion textarea {

    margin: 0.3rem 0;

}

.fa-star {
    color: rgb(229, 233, 3);
}

@media (min-width: 1000px) {
    #puntuacionSeccion {
        display: flex;
        flex-wrap: wrap;
        
        justify-content: center;
    }

    #puntuacionSeccion input {
        width: 100px;
    }
}

@media (min-width: 768px) {
    #puntuacionSeccion {
        display: flex;
        flex-wrap: wrap;
        
        flex-flow: column;
        align-items: center;
    }

    #puntuacionSeccion input {
        margin-right: 1rem;
    }

}

@media (min-width: 480px) {
    
    .carousel {
        max-width: 250px;
    }
    
    #recomendaciones {
        display: flex;
        flex-wrap: wrap;
    
        align-items: center;
        flex-flow: column;
    }


}