#descripcion {

    text-align: justify;

}

#imagen {

    margin-top: 3rem;

    text-align: center;


}

#puntuacionSeccion {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    margin-bottom: 1rem;
}

#puntuacionSeccion input {

    width: 150px;

}

#recomendaciones {
    margin-bottom: 3rem;
}

#recomendaciones img {
    width: 150px;

    height: 330px;

}

#recomendaciones a {

    color: white;

    text-transform: uppercase;

}

#recomendaciones p {

    padding: 10px;

    background-color: #515151;

    border-radius: 3px;

}

#imagen img {

    width: 250px;


}

#generos {

    text-align: end;

    color: gray;

    font-style: italic;

}

#comentarioCard {

    width: 100%;
    padding: 10px;

}

#comentarioHeader p {

    border-bottom: 1px solid rgb(0, 143, 143);

}

#comentarioBody {

    text-align: justify;

}

#addComentarioSeccion {

    margin: 1rem 0;

}

#addComentarioSeccion textarea {

    margin: 0.3rem 0;

}

@media (min-width: 1000px) {
    #puntuacionSeccion {
        display: flex;
        flex-wrap: wrap;
        
        justify-content: center;
    }

    #puntuacionSeccion input {
        width: 100px;
    }
}

@media (min-width: 768px) {
    #puntuacionSeccion {
        display: flex;
        flex-wrap: wrap;
        
        justify-content: center;
    }

    #puntuacionSeccion input {
        margin-right: 1rem;
    }
}